{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}
{% block extra_head %}
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css' rel='stylesheet' />
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.js'></script>
{% endblock %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}
{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
 {{ page.richtextpage.content|richtext_filters|safe }}
{% endblock %}
{% block footer_extra %}
<script type='text/javascript'>
var map = L.mapbox.map('map', 'grumps.h6ff3n5l');
L.control.scale().addTo(map);
</script>
<script type='text/javascript'>
var map2 = L.mapbox.map('map2', 'grumps.h6o8p0l4');
L.control.scale().addTo(map);
</script>
{% endblock %}
