{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}

{% block main %}
{{ block.super }}
{% if request.GET.sent %}
    {% editable page.formset.response %}
    {{ page.formset.response|richtext_filter|safe }}
    {% endeditable %}
    {% editable page.form2.response %}
    {{ page.form2.response|richtext_filter|safe }
    {% endeditable %}
    {% editable page.form3.response %}
    {{ page.form3.response|richtext_filter|safe }
    {% endeditable %}
{% else %}
    {% with page.form as page_form %}
    {% editable page_form.content %}
    {{ page_form.content|richtext_filter|safe }}
    {% endeditable %}
    {% endwith %}
    <form method="post">
        {% fields_for form3 %}
        {% fields_for form2 %}
        {{ formset.management_form }}
        {% fields_for formset %}
        <div class="form-actions">
            <input class="btn btn-primary btn-large" type="submit" value="{{ page.form.button_text }}">
        </div>
    </form>
{% endif %}

{% endblock %}