{% extends "base.html" %}
{% load i18n %}
{% load index_extra %}
{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}
{% block extra_js %}
<script src="{{STATIC_URL}}js/jquery.backstretch.js"></script>
{% endblock %}
{% block main %}
{% countdown as days%}
<div class="row span12">
<div class="row span12 page-header">
    <h1 class="hp-title">Oh Snap: We're Getting Married!</h1>

</div>
    <div class="row-fluid">
    <div class="container navbar-fixed-bottom">
        <div class="row-fluid well">
            <div class="span4">
                <div class="media">
                    <a class="pull-left" href="/max-and-olivia/ceremony-and-reception/">
                    <img class="media-object" data-src="holder.js/64x64"  alt="Calendar" src="{{ STATIC_URL }}img/icons/Calendar@2x.png" style="width:64px; height:64px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><strong>Only {{ days }} days to go!</strong></h4>
                    <p>Get the all the information you need for the <a href="/max-and-olivia/ceremony-and-reception/">wedding day...</a></p>
                </div>
    </div>
            </div>
            <div class="span4">
                <div class="media" >
    <a class="pull-left" href="/max-and-olivia/">
        <img class="media-object" data-src="holder.js/64x64"  alt="Calendar" src="{{ STATIC_URL }}img/icons/Compas@2x.png" style="width:64px; height:64px;">
        </a>
    <div class="media-body">
        <h4 class="media-heading"><strong>Get Filled in on the Details</strong></h4>
        <p>This is more than a one night event. Get all the <a href="/max-and-olivia/">details.</a></p>
        </div>
    </div>
                </div>
            <div class="span4">
            <div class="media">
                <a class="pull-left" href="/add-a-jam/">
        <img class="media-object" data-src="holder.js/64x64"  alt="Calendar" src="{{ STATIC_URL }}img/icons/Clipboard@2x.png" style="width:64px; height:64px;">
        </a>
    <div class="media-body">
        <h4 class="media-heading"><strong>Add to the Playlist</strong></h4>
        <p>We think music usually sucks at weddings, so our plan is to prevent that with your <a href="/add-a-jam/">help.</a></p>
        </div>
    </div>
                </div>
</div>
</div>
{% endblock %}
