{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
<div><!-- Recent Posts -->
{% load blog_tags keyword_tags i18n %}
{% blog_recent_posts 3 as recent_posts %}
{% if recent_posts %}

{% for recent_post in recent_posts %}
<h3><a href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a></h3>
    <h4>{{ recent_post.publish_date|timesince }} {% trans "ago" %}</h4>
<div class="recent-summary">
{{ recent_post.description_from_content|safe }}
<a href="{{ recent_post.get_absolute_url }}" class="label label-inverse">{% trans "read more&hellip;" %}</a>
<hr>
</div><!-- /recent-summary -->
{% endfor %}
{% endif %}
</div><!-- /Recent Posts -->
{% endblock %}
