{% extends "base.html" %}

{% load i18n %}
{% load mezzanine_tags keyword_tags %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="span12">
             <div class="text-center">
                    <h3>Step 3</h3>
                         <div class="progress progress-striped active">
                         <div class="bar" style="width: 70%;"></div>
                        </div>
                     <p class="lead">Hi {{user.first_name}} {{ user.last_name }} you're almost done, we have just a couple questions about {{ partnerguest.first_name }}.</p>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
             <div class="text-center">
             <form id="rsvp" action="" method="post">
             {% csrf_token %}
                {% for field in form %}
                     {% if forloop.counter = 1 %}
                        <p>{{ partnerguest.first_name }} {{ partnerguest.last_name }} will {{ field }} attending Olivia and Max's wedding on May 16th, 2014.</p>
                         {% if field.errors %}
                           <div class="alert span3 offset4">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Warning!</strong>{{ field.errors }}
                            </div>
                          {% endif %}
                     {% elif forloop.counter = 2 %}
                        <div class="collapse" data-toggle="collapse" data-parent="#id_will_attend">
                        <p>{{ partnerguest.first_name }} would likely discribe their diet as a {{ field }}</p>
                         {% if field.errors %}
                           <div class="alert span3 offset4">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Warning!</strong>{{ field.errors }}
                            </div>
                          {% endif %}
                     {% elif forloop.counter = 3 %}
                        <p>{{ partnerguest.first_name }} will {{ field }} arriving before 8PM on May 15th, 2014.</p>
                          {% if field.errors %}
                           <div class="alert span3 offset4">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Warning!</strong>{{ field.errors }}
                            </div>
                          {% endif %}
                     {% elif forloop.counter = 4 %}
                        <p>{{ partnerguest.first_name }} will {{ field }} around for mid afternoon Lunch on May 17th, 2014.</p>
                         {% if field.errors %}
                           <div class="alert span3 offset4">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <strong>Warning!</strong>{{ field.errors }}
                            </div>
                          {% endif %}
                        </div>

                     {% endif %}
                 {% endfor %}
                <div class="row-fluid">
                   <div class="form-actions">
                    <button class="btn btn-primary btn-large">Next<i class="icon-chevron-right icon-white"></i></button>
                    </div>
                </div>
             </form>
             </div>
        </div>
    </div>
{% endblock %}
{% block footer_extra %}
    <script src="{{ STATIC_URL }}js/rsvp.js"></script>
{% endblock %}