{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% endblock %}
{% block main %}
<form method="post" class="form-vertical">
    {% csrf_token %}
    {{ form.media }}
    <div class="control-group row-fluid">
        <input id="id_username" maxlength="30" name="username" type="text" style="text-align: center;" class="span12">
    </div>
    <div class="controls">
        <button type="submit" class="btn">{% trans "Login" %}</button>
    </div>
</form>
{% endblock %}
{% block footer_extra %}

{% endblock %}