{% extends "base.html" %}
{% load i18n %}
{% load mezzanine_tags keyword_tags %}
{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% endblock %}
{% block main %}
    <div class="hero-unit">
        <div class="span6 offset2 text-center">
            <h1>Thank You!</h1>
            <p>{{ primaryguest.user.first_name }} we appreciate you taking the time to respond.</p>
            <p>You can update you're RSVP all the way April 15th 2014, yes that's right Tax Day.</p>
            <p><a href="/max-and-olivia/#schedule" class="btn btn-primary btn-large btn-success">Weekend Details »</a>
            <a href="/max-and-olivia/hotels/" class="btn btn-primary btn-large btn-info">Don't Forget a Hotel »</a></p>
        </div>
      </div>
    <div class="span7 offset2 text-center">
        <table class="table table-condensed table-striped">
         <caption>To confirm here's the information that you've supplied to us:</caption>
          <thead>
            <tr>
              <th>Name</th>
              <th>Attending the Ceremony?</th>
              <th>Vegetarian?</th>
              <th>Arriving Thursday?</th>
              <th>Sticking Around Saturday?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ primaryguest.user.first_name }} {{ primaryguest.user.last_name }}</td>
              <td>{{ primaryguest.will_attend }}</td>
              <td>{{ primaryguest.is_vegetarian }}</td>
              <td>{{ primaryguest.will_arrive_thursday }}</td>
              <td>{{ primaryguest.will_stay_saturday }}</td>
            </tr>
            {% if primaryguest.is_allowed_partner %}
            <tr>
              <td>{{ partnerguest.first_name }} {{ object_list.last_name }}</td>
              <td>{{ partnerguest.will_attend }}</td>
              <td>{{ partnerguest.is_vegetarian }}</td>
              <td>{{ partnerguest.will_arrive_thursday }}</td>
              <td>{{ partnerguest.will_stay_saturday }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
    </div>
{% endblock %}