{% extends "pages/page.html" %}

{% load mezzanine_tags %}
{% block main %}

<div class="offset2 span7 text-center">
    <p class="leader"> Thanks for adding to our weddings playlist.</p>
    <p>Here's some other songs requested by {{ artist }}.</p>
</div>
<div class="span7 offset2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Song Title</th>
                <th>Number of Requests</th>
                <th>First Requested Date</th>
                <th>Last Requested Date</th>
            </tr>
        </thead>
        <tbody>
             {% for song in songs_requested %}
            <tr>
                <td>{{ song.song }}</td>
                <td>{{ song.request_count }}</td>
                <td>{{ song.created|date }}</td>
                <td>{{ song.modified|date }}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}